body {
    background-color: rgb(226, 198, 253);
}

.hero-logo {
    height: 200px;
}

#listBody {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

#listBody article {
    min-height: 200px;
    background-color: white;
    margin: 20px;
}

.list-img {
    height: 200px;
}